<div class="header">
  <div class="left">
    <div class="vertical-box">
      <div class="vertical-box-middle">
        left
      </div>
    </div>
  </div>
  <div class="center">
    <div class="vertical-box">
      <div class="vertical-box-middle">
        Title!!
      </div>
    </div>
  </div>
  <div class="right">
    <div class="vertical-box">
      <div class="vertical-box-middle">
        right
      </div>
    </div>
  </div>
</div>
<div class="voca">
  <div class="vertical-box">
    <div class="vertical-box-middle">
      <div class="word">
        word
      </div>
      <div class="mean">
        mean
      </div>
    </div>
  </div>
</div>
<div class="buttonGroup">
  <div class="button">
    <div class="vertical-box">
      <div class="vertical-box-middle">
        O
      </div>
    </div>
  </div>
  <div class="button">
    <div class="vertical-box">
      <div class="vertical-box-middle">
        X
      </div>
    </div>
  </div>
</div>