<footer>
    <div class="top-box">
        <div class="msg">
            트래블하우는 통신판매중개업자로서 통신판매의 당사자가 아니며, 상품주문, 예약, 발권 및 환불의 의무와 책임은 각 판매업체에 있습니다.
        </div>
        <div class="tab-group">
            <a class="tab" href="http://m.travelhow.com/company/service">
                서비스소개
            </a>
            <a class="tab" href="http://m.travelhow.com/company/terms">
                이용약관
            </a>
            <a class="tab" href="http://m.travelhow.com/company/privacy">
                개인정보처리방침
            </a>
            <a class="tab" href="http://m.travelhow.com/common/customer/siteAnnouncement">
                고객센터
            </a>
        </div>
    </div>
    <div class="bottom-box">
        <p>
            <span >트래포트(주)</span>
            <span>대표자:안경열</span>
            <span>사업자등록번호:211-88-19164</span>
        </p>
        <p>[08501] 서울특별시 금천구 가산디지털1로 145 에이스하이엔드타워3차 6층 604호</p>
        <p>고객센터 : 1644-8668(오전9시~오후6시, 주말/공휴일휴무)</p>
    </div>
</footer>
